body {
    background-color: rgb(168, 160, 144);
    overflow: hidden; /* Hide scrollbars */
}

@media (max-width: 700px) {
    .box2 {
        background-color: blue;
    }
    #flexbox {
        scale: 0.5;
    }
}

#container {
    display: flex;
    /* flex-direction: column; */ 
    justify-content: space-between;
    flex-wrap: wrap;
}

#container {
    background-color: rgb(205, 205, 250) !important;
    width: 600px;   
    height: 600px;
}

#flexbox {
    height: 100vh; /* konieczne jest dodanie wysokości oby wyśrodkować wertykalnie */
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.box1 {
    width: 600px;
    background-color: aquamarine;
}

.box2 {
    width: 300px;
    height: 300px;
}

.box3 {
    width: 300px;
    height: 300px;
}

.box4 {
    width: 600px;
}

.kwadrat1 {
    background-color: rgb(44, 39, 39);
    width: 140px;
    height: 140px;
    
}

.kwadrat2 {
    background-color: rgb(44, 39, 39);
    width: 270px;
    height: 120px;
}

.kwadrat3 {
    background-color: rgb(44, 39, 39);
    width: 120px;
    height: 270px;
}

.kwadrat4 {
    background-color: rgb(44, 39, 39);
    width: 570px;
    height: 120px;
}

.kolo {
    background-color: rgb(44, 39, 39);
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

.dodatkowybox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 150px;
    height: 300px;
    float: left;
}